<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>World of Warcraft Professions</title>
</head>
<body>

<div th:fragment="contentHeader"></div>

<div th:fragment="content">
  <div class="item-card">
    <div class="item-image">
      <img th:src="${item.urlImage}" alt="Item Image">
    </div>
    <div class="item-info">
      <h2 th:text="${item.name}"></h2>
      <p>Уровень предмета: <span th:text="${item.itemLvl}"></span></p>
      <p><span th:text="${item.description}"></span></p>
      <p>Максимум в стопке: <span th:text="${item.maxInStack}"></span></p>
      <p>Цена продажи: <span th:text="${item.sellingPrice}"></span> <span th:text="${item.typeCurrency}"></span></p>
    </div>
  </div>
</div>

</body>
</html>