<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World of Warcraft Professions</title>
</head>
<body>

<div th:fragment="contentHeader"></div>

<div th:fragment="content">
    <section class="home">
        <h2>На нашем сайте вы можете:</h2>
        <p>- узнать о профессиях в мире World of Warcraft</p>
        <p>- посмотреть какие ресурсы добываются в актуальном аддоне</p>
        <p>- узнать ID ресурса</p>
        <p>- посмотреть стоимость ресурсов на аукционе</p>
        <p>- сформировать группу ресурсов для TSM4</p>
    </section>
</div>

</body>
</html>
