<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>World of Warcraft Professions</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" th:href="${css}">
</head>
<body>

<header>
  <div class="header-container">
    <h1>World of Warcraft Professions</h1>
    <nav>
      <ul>
        <li><a th:href="@{/home}">Главная</a></li>
        <li><a th:href="@{/professionsInfo}">Профессии</a></li>
        <li><a th:href="@{/resources}">Ресурсы</a></li>
        <li><a th:href="@{/auction}">Аукцион</a></li>
      </ul>
    </nav>
    <div class="header-container" th:replace="${contentHeader} :: contentHeader">
    </div>
  </div>
</header>

<main>
  <div th:replace="${content} :: content">
    <p></p>
  </div>
</main>

<footer>
  <p>&copy; 2024 World of Warcraft Professions.</p>
</footer>

</body>
</html>
